@using vnMentor.Resources
@{
    ViewBag.Title = Resource.ConfigurationError;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center_page">
    <div class="main">
        <div class="ops_text">
            <strong>:(</strong>
            <div class="ops_title">
                <strong>@Resource.Oops</strong>
                <span>@Resource.ConfigurationError</span>
            </div>
        </div>
        <div class="ops_message">
            <span>
                @Resource.PleaseInsertConnectionString
            </span>
        </div>
    </div>
</div>

