@using vnMentor.Resources
@{
    ViewBag.Title = Resource.Error;
}

<div class="d-flex justify-content-center align-items-center py-5">
    <div class="main py-5">
        <div class="ops_text">
            <strong class="fs-56">:(</strong>
            <div class="ops_title fs-32">
                <strong>@Resource.Oops</strong>
                <span>@Resource.FailedExceptionError</span>
            </div>
        </div>
        <div class="ops_message fs-18">
            <span>
                @Resource.PleaseSendSupportEmail
            </span>
        </div>
    </div>
</div>

