@using vnMentor.Resources
@{
    ViewBag.Title = Resource.Lockedout;
}

<hgroup>
    <h1 class="text-danger">@Resource.Lockedout</h1>
    <h2 class="text-danger">@Resource.Thisaccounthasbeenlockedout</h2>
</hgroup>
